* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
    background: black;
    width: 428px;
    /* ok */
}
.estrelas {text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 428px;
    }
.bibliografia {
    width: 428px;
    height: 100%;
    padding-top: 20px;
    
}
.bibliografia img {
    width: 428px;
}
h1 {text-align: left;
    color: aliceblue;
    
    
}
.estrelas img {
    width: 10px;
    height: 15px;
}
p {margin-left: 10px;
    color: aliceblue;}
    
    .video {
    display: flex;
    width: 428px;
    justify-content: center;
    align-items: flex-end;
    
    /* conteiner do video */
}

.video iframe {
    width: 400px;
    height: 400px;
    top: 200px;
    border-radius: 12px;
    /* video */
}
    @media screen and (min-width:768px){
main {display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.estrelas img {
    width: 10px;
    height: 15px;
    }
     .descrição{
        width: 900px;
    }


.video {display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
        }
        .video iframe {
            width: 700px;
            
        }
        .bibliografia {
            width: 1000px;
            height: 100%;
            gap: 20px;
    }
    .bibliografia img {
        width: 1000px;
}}