.ritmos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1131px;
    background-color: rgb(168, 156, 197);
    margin-top: 20px;
    /* conteiner pai das divs ritmos */
}

.ritmos a { text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    height: 230px;
    border-radius: 15px;
    background-color: red;
    /* conteiner filho ritmos */
}
.ritmos p {
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    color: #FFFFFF;
    /* texto dentro das divs dos ritmos */
}